# .github/workflows/cd.yml

name: CD Pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  #################################################
  # Job 1: Deploy the API to Docker Hub and Render
  #################################################
  deploy-api:
    name: Deploy API
    runs-on: ubuntu-latest  
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: . # Assumes Dockerfile is in the root directory
          push: true
          tags: 
            ${{ secrets.DOCKERHUB_USERNAME }}/mlops:latest,
            ${{ secrets.DOCKERHUB_USERNAME }}/mlops:${{ github.sha }}

      - name: Trigger Render deployment
        run: curl -X POST https://api.render.com/deploy/srv-d4tg8ummcj7s73bs1ou0?key=${{ secrets.RENDER_DEPLOY_HOOK_KEY_03 }}